<!DOCTYPE html>
<html>
<head>
    <title>Association Details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    {{> header}}
    {{#roleChangeError}}
        <div class="error-message">{{roleChangeError}}</div>
    {{/roleChangeError}}

    {{#leaveError}}
        <div class="error-message">{{leaveError}}</p></div>
    {{/leaveError}}
    <h2>{{association.name}}</h2>    
    {{#hasImage}}
        <img src="/association/{{association.id}}/image" alt="Association Image"></img>
    {{/hasImage}}
    {{^hasImage}}
        <img src="/images/no_img.png" alt="Pas d'image"></img>
    {{/hasImage}}
    <h3>Members </h3>
    <ul>
    {{#memberTypes}}
        <li>
            {{^isPresident}}
                {{member.name}} {{member.surname}}  —  {{name}}
            {{/isPresident}}
            {{#isPresident}}
                <form action="/association/{{association.id}}/changeRole" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}" />
                    <input type="hidden" name="memberTypeId" value="{{id}}" />
                    
                    <label>{{member.name}} {{member.surname}}</label>
                    <select name="newRole">
                        <option value="president" {{#presidentSelected}}selected{{/presidentSelected}}>President</option>
                        <option value="vice-president" {{#vicePresidentSelected}}selected{{/vicePresidentSelected}}>Vice-President</option>
                        <option value="secretary" {{#secretarySelected}}selected{{/secretarySelected}}>Secretary</option>
                        <option value="treasurer" {{#treasurerSelected}}selected{{/treasurerSelected}}>Treasurer</option>
                        <option value="member" {{#memberSelected}}selected{{/memberSelected}}>Member</option>
                    </select>
                    <button type="submit">Change Role</button>
                </form>
            {{/isPresident}}
        </li>
    {{/memberTypes}}
    </ul>

    <h3>Minutes :</h3>
    <ul>
        {{#minutes}}
            <li>
                {{date}} - {{content}} (Duration : {{duration}} min) - {{id}}
                {{#isAdmin}}
                <form action="/minute/{{id}}/asso/{{association.id}}/delete" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="submit">Delete</button>
                </form>
                {{#isMember}}
                    <button onclick="location.href='/minute/{{id}}/asso/{{association.id}}/edit'">Edit</button>
                {{/isMember}}
                {{/isAdmin}}
            </li>
        {{/minutes}}
    </ul>

    {{^isMember}}
        {{#isAuthenticated}}
            <form action="/association/{{association.id}}/join" method="post">
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit">Join</button>
            </form>
        {{/isAuthenticated}}
    {{/isMember}}

    {{#isMember}}
        {{#isAuthenticated}}
            <form action="/association/{{association.id}}/leave" method="post">
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit">Leave</button>
            </form>
        {{/isAuthenticated}}
    {{/isMember}}

    {{#isMember}}
        {{#isAuthenticated}}
            <form action="/association/{{association.id}}/createMinute" method="post">
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <button type="submit">Create Minute</button>
            </form>
        {{/isAuthenticated}}
    {{/isMember}}

    {{#isAdmin}}
        <form action="/association/{{association.id}}/delete" method="post">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <button type="submit">Delete</button>
        </form>
        <button onclick="location.href='/editasso/{{association.id}}'">Edit</button>
    {{/isAdmin}} 

    {{>footer}}
</body>
</html>
