{{>header}}

<h2>Association "{{association.name}}"</h2>

<form action="/editasso" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{association.id}}"/>

    <div>
        <label>Association: </label>
        <input name="name" value="{{association.name}}" placeholder="name"/>
    </div>

    <div>
        <label>New image (optional):</label>
        <input type="file" name="imageField" accept="image/*"/>
    </div>
    <input type="hidden" name="_csrf" value="{{token}}"/>
    <p>
        <button onclick="location.href='/association/{{association.id}}'; return false;">Cancel</button>
        <input type="submit" value="Save"/>
    </p>
</form>

{{#association.image}}
    <hr>
    <p>Actual Image: </p>
    <img src="/association/{{association.id}}/image" alt="Association image" width="150"/><br><br>
    <form action="/association/{{association.id}}/deleteImage" method="post">
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <button type="submit">Delete image</button>
    </form>
{{/association.image}}

{{>footer}}
