<head>
    <title>Heade'r</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<div class="navbar">
    {{#isAuthenticated}}
      <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>  
    {{/isAuthenticated}}
    {{^isAuthenticated}}
        <a href="/login"><button>Login</button></a>
    {{/isAuthenticated}}

    <a href="/profile"><button>Profile</button></a>
    <a href="/members"><button>Members</button></a>
    <a href="/"><button>Associations</button></a>

    <form action="/search" method="post">
        <input type="number" min="0" step="1" name="searchId" placeholder="Enter ID" />
        <select name="searchType">
            <option value="user">User</option>
            <option value="association">Association</option>
        </select>
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <button type="submit" class="search-button">Search</button>
    </form>
</div>
