<!DOCTYPE html>
<html>
<head>
    <title>User Detail</title>
</head>
<body>
    {{> header}}

    <h2>Info User</h2>
    <p>{{memberAttribute.name}} {{memberAttribute.surname}}</p>

    <ul>
        <h3>Associations and member type :</h3>
        {{#memberAttribute.roles}}
            <li>
                <a href="/association/{{associationId}}">{{associationName}}</a> - <strong>Member Type:</strong> {{memberType}}
            </li>
        {{/memberAttribute.roles}}
        {{^memberAttribute.roles}}
            <li>Not part of an association.</li>
        {{/memberAttribute.roles}}
    </ul>

    <h3>Minutes of meetings attended by this user :</h3>
    <ul>
        {{#memberAttribute.participatedMinutes}}
            <li>{{date}} - {{content}} ({{duration}} minutes)</li>
        {{/memberAttribute.participatedMinutes}}
        {{^memberAttribute.participatedMinutes}}
            <li>No participation in a meeting.</li>
        {{/memberAttribute.participatedMinutes}}
    </ul>

    {{#isAdmin}}
        <a href="/profile/{{memberAttribute.id}}/delete"><button>Delete Profile</button></a>
    {{/isAdmin}}

    {{> footer}}
</body>
